{{#if this.displayButton}}
  <li class="header-dropdown-toggle">
    {{d-button
      class="btn-flat link-analyzer-button"
      icon="magic"
      title=this.linkAnalyzerTitle
      action=this.navigateToAnalyzer
    }}
  </li>
{{/if}} 