.DS_Store
.idea
.vscode
node_modules
auto_generated
coverage
yarn-error.log
*.swp
*.swo
*.swn
*.swm
*.swl
*.swk
*.swj
*.swi
*.swh
*.swg
*.swf
*.swe
*.swd
*.swc
*.swb
*.swa
*~
.rubocop-https*
.sass-cache
.eslintcache
